<!-- product_detail.html -->
{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <title>{{ product.title }}</title>
</head>
<body>
    <div class="container">
        <h1>{{ product.title }}</h1>
        <p>{{ product.description }}, With {{ product.num_bedrooms }} Bedrooms, {{ product.num_floors }} floors, {{ product.square_feet }} sqr ft of space  at {{ product.address }}, {{ product.city }}</p>
        <p class="text-danger">Price: Ksh{{ product.price }}</p>
        Status: {% if not product.booked %}
        <a href="{% url 'book_house' product.id %}" class="btn btn-primary">Book</a>
    {% else %}
        <span class="text-danger">Booked</span>
    {% endif %}
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid">
        {% endif %}
    </div>
</body>
</html>
{% endblock %}
